In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.Series(['Manager','Junior developer','Senior developer','Junior developer','Manager','Junior developer','Senior developer','Manager','Junior developer','Manager','Junior developer','Senior developer','Manager','Junior developer','Senior developer','Junior developer','Senior developer','Manager','Senior developer','Senior developer'])

In [3]:
data

0              Manager
1     Junior developer
2     Senior developer
3     Junior developer
4              Manager
5     Junior developer
6     Senior developer
7              Manager
8     Junior developer
9              Manager
10    Junior developer
11    Senior developer
12             Manager
13    Junior developer
14    Senior developer
15    Junior developer
16    Senior developer
17             Manager
18    Senior developer
19    Senior developer
dtype: object

In [4]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [5]:
enc_data=le.fit_transform(data)

In [6]:
enc_data

array([1, 0, 2, 0, 1, 0, 2, 1, 0, 1, 0, 2, 1, 0, 2, 0, 2, 1, 2, 2])

In [8]:
for i,j in zip(data,enc_data):
    print(i,j)

Manager 1
Junior developer 0
Senior developer 2
Junior developer 0
Manager 1
Junior developer 0
Senior developer 2
Manager 1
Junior developer 0
Manager 1
Junior developer 0
Senior developer 2
Manager 1
Junior developer 0
Senior developer 2
Junior developer 0
Senior developer 2
Manager 1
Senior developer 2
Senior developer 2

In [11]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(sparse_output=False)

In [13]:
df=pd.DataFrame(data)

In [14]:
df

                   0
0            Manager
1   Junior developer
2   Senior developer
3   Junior developer
4            Manager
5   Junior developer
6   Senior developer
7            Manager
8   Junior developer
9            Manager
10  Junior developer
11  Senior developer
12           Manager
13  Junior developer
14  Senior developer
15  Junior developer
16  Senior developer
17           Manager
18  Senior developer
19  Senior developer

In [18]:
cat_cols=df.select_dtypes(include=['object']).columns.tolist()
cat_cols

[0]

In [19]:
oh_d=ohe.fit_transform(df[cat_cols])

In [20]:
oh_d

array([[0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.]])

In [21]:
for i,j in zip(data,oh_d):
    print(i,j)

Manager [0. 1. 0.]
Junior developer [1. 0. 0.]
Senior developer [0. 0. 1.]
Junior developer [1. 0. 0.]
Manager [0. 1. 0.]
Junior developer [1. 0. 0.]
Senior developer [0. 0. 1.]
Manager [0. 1. 0.]
Junior developer [1. 0. 0.]
Manager [0. 1. 0.]
Junior developer [1. 0. 0.]
Senior developer [0. 0. 1.]
Manager [0. 1. 0.]
Junior developer [1. 0. 0.]
Senior developer [0. 0. 1.]
Junior developer [1. 0. 0.]
Senior developer [0. 0. 1.]
Manager [0. 1. 0.]
Senior developer [0. 0. 1.]
Senior developer [0. 0. 1.]